<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
      <style type="text/css">
    div { text-align: center }
    H2 { text-align: center }
  </style>
</head>
<body>
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">SteamBot</span>
      </a>

      <ul class="nav nav-pills">
      </ul>
    </header>
<div class="product">

  <img alt="" class="product__image" src='{{ image_link }}'>
  <div class="info">
    <div class="text">
      <span class="text__bold">Product Name :</span> &nbsp; <a href="{{ game_link }}" target="_blank">
        <span class="text__name" translate="no">{{ game_name }}</span>
      </a>
    </div>
    <div class="text">
      <span class="text__bold" translate="no">Unique Product Code :</span> &nbsp; <span>{{ code }}</span>
    </div>
  </div>
  <div class="product__hr"></div>
  <div class="info">
    <div class="text">
      <span class="text__bold">Account Name :</span> &nbsp; <span translate="no">{{ login }}</span>
    </div>
    <div class="text">
      <span class="text__bold">Account Password :</span> &nbsp; <span translate="no">{{ password }}</span>
    </div>
  </div>
  <div class="product__hr"></div>
  <div class="info">
    <div class="text">
        <button id="myClickButton" type="button">Get code for change email</button>
        <script>
        </script>
        <div id="myOutput"></div>
      </a>
    </div>
  </div>
</div>
</body>
</html>